################################################################################
# scripts/dev_setup.py
################################################################################

BRANCH_PREFIX="issues"
REQUEST_PREFIX="refs:"
# NOTE: Issue base path will vary based on your project name folder (if you use GitHub)
# Example: https://github.com/your-username
ISSUE_BASE_PATH=""

################################################################################
# scripts/git_copy.py
################################################################################

TARGET_DIRECTORY_PATH="/home/your-username/Documents/git_copy"

################################################################################
# scripts/backup.py
################################################################################

# Backup location
BACKUP_LOCATION="/home/your-username/Documents/backup/automated"

# System
SYSTEM_DESTINATION_FOLDER_NAME="system"
SYSTEM_SOURCE_PATHS="/home/your-username/.bashrc,/home/your-username/.gitconfig,/etc/hosts,/etc/apache2/sites-available/000-default.conf"

# VS Code
VSCODE_DESTINATION_FOLDER_NAME="vscode"
VSCODE_SOURCE_PATHS="/home/your-username/.config/Code/User/settings.json,/home/your-username/.config/Code/User/snippets/global-snippets.code-snippets"

# Projects
PROJECTS_DESTINATION_FOLDER_NAME="projects"
# Example: "/var/www/project-one,/var/www/project-two"
PROJECTS_SOURCE_PATHS=""

# Key used to HMAC-hash .env files for change detection during backup (defaults to "pa55" if not set)
ENV_FILES_ZIP_PASSWORD="pa55"

# Deployments
DEPLOYMENTS_DESTINATION_FOLDER_NAME="deployments"
# Example: "/var/www/project-one/deploy,/var/www/project-two/deploy"
DEPLOYMENT_SOURCE_PATHS=""

################################################################################
# scripts/hash_filenames.py
################################################################################
HASH_FILENAMES_FILE_EXTENSIONS=".jpg,.jpeg,.png,.gif,.heic,.webp,.mp4,.mov"

################################################################################
# scripts/splice_images.py
################################################################################
SPLICE_IMAGES_FILE_EXTENSIONS=".jpg,.jpeg,.png,.webp"

################################################################################
# scripts/cv_generator.py
################################################################################
MARKDOWN_FILE_URL="cv.md"
PDF_OUTPUT_LOCATION="cv.pdf"
