[flake8]
ignore = E203,E501,W503,W504
max-line-length = 88
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    env,
    venv
select = E,F,W,C
show-source = true
statistics = true
per-file-ignores =
    __init__.py:F401
    scripts/*.py:E402
